mixin column-container(size, container)
  - var cl = (size === 23 || size === 6) ? "column-2" : "column"
  if size > 1
    <!--[if (gte mso 9)|(IE)]><td width="#{container}" valign="top"><![endif]-->
    div(class=cl)
      table(width='100%')
        block
    <!--[if (gte mso 9)|(IE)]></td><![endif]-->
  else
    block

mixin column-row(size, hideable)
  if size > 1
    if hideable
      tr(mc:hideable)
        block
    else
      tr
        block
  else
    block


mixin column(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  - var settings = Object.assign({size: 2, aspect: 1.8, fullimage: false, heading: "h4", title: "This is the title", body: true, button: false, buttontext: "Sign Up", editable: true}, options)

  - var padding = 15
  - var container
  case settings.size
    when 23
      - container = Math.floor(width/1.5)
    when 4
      - container = Math.floor(width * .4)
    when 6
      - container = Math.floor(width * .6)
    default
      - container = Math.floor(width/settings.size)

  +column-container(settings.size, container)
    if (settings.aspect > 0)
      - var imgcontainer = container - (padding * 2)
      - var imgwidth = Math.floor(imgcontainer * 1.5)
      if (settings.fullimage)
        - imgwidth = Math.floor(460 * 1.5)
      - var imgheight = Math.floor(imgwidth / settings.aspect)

      +column-row(settings.size, true)
        td.inner.contents(class=`${(!settings.title && !settings.body) ? "column-img--solo" :"column-img"}`)
          img(src=`http://placehold.it/${imgwidth}x${imgheight}`, width=imgcontainer, alt='', mc:edit=`${namespace}image`)
    if (settings.title || settings.body)
      +column-row(settings.size)
        td.inner.contents(dir="ltr")
          if (settings.title)
            #{settings.heading}(class="column-title", mc:edit=`${namespace}title`, mc:hideable) #{settings.title}
          div.textlink(mc:edit=`${namespace}desc`, mc:hideable)
            block
            if (!block)
              | This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.
          if (settings.button)
            br
            +btn("lead", {size: settings.button}) #{settings.buttontext}

