mixin column(namespace, count, aspect, heading, padding)
  - namespace = namespace || "column"
  - count = count || 2
  - aspect = aspect || 1.8
  - heading = heading || "h4"
  - padding = padding || 15
  - var container = Math.floor(width/count)
  - var imgcontainer = container - padding*2
  - var imgwidth = Math.floor(container * 1.5)
  - var imgheight = Math.floor(imgwidth/aspect)
  - var countText

  case count
    when 1
      - countText = "one"
    when 2
      - countText = "two"
    default
      - countText = "three"
 
  table.outer
    tr
      td(class=`${countText}-column`)
        <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
        - var i = 1
        while i<= count
          - var index = Math.floor(Math.random() * columns.length)
          <!--[if (gte mso 9)|(IE)]>
          td(width=container, valign="top")
          <![endif]-->
          .column
            table(width='100%')
              if (aspect > 0)
                tr(mc:hideable)
                  td.inner.contents.column-img
                      img(src=`http://placehold.it/${imgwidth}x${imgheight}`, width=imgcontainer, alt='', mc:edit=`${namespace}-column${i}-image`)
              tr
                td.inner.contents(class=`${(aspect > 0) ? "" : "column-textonly"}`)
                  if (count < 3)
                    if (aspect > 0)
                      #{heading}(mc:edit=`${namespace}-column${i}-title`, mc:hideable)
                        a(href='#', target='_blank') #{columns[index].title}
                      
                    div(mc:edit=`${namespace}-column${i}-desc`, mc:hideable)
                      if (count == 1)
                        | #{columns[index].desc}
                      else
                        a.textlink(href='#', target='_blank') #{columns[index].desc}
                  else
                    div(mc:edit=`${namespace}-column${i}-title`, mc:hideable)
                      a.textlink(href='#', target='_blank') #{columns[index].title}
          - i++
          <!--[if (gte mso 9)|(IE)]></td><![endif]-->
          
        <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
