mixin column-twothirds(namespace, dir, aspect, category, padding)
  - dir = dir || "ltr"
  - aspect = aspect || 1.75
  - category = category || false
  - padding = padding || 15
  - var imgwidth = Math.floor(460 * 1.5)
  - var imgheight = Math.floor(imgwidth/aspect)

  each column in columns
    table.outer
      tr
        td.three-column(dir=dir)
          <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
          <!--[if (gte mso 9)|(IE)]>
          td(width=`${width / 3}`, valign="top")
          <![endif]-->
          .column.image-full
            table(width='100%')
              tr
                td.inner.contents.column-img.column-img--solo
                  img(src=`http://placehold.it/${imgwidth}x${imgheight}`, width='', alt='', mc:edit=`${namespace}-column1-image`)
          <!--[if (gte mso 9)|(IE)]></td><![endif]-->
          <!--[if (gte mso 9)|(IE)]>
          td(width=`${width / 3 * 2}` valign="top")
          <![endif]-->
          .column-2
            table(width='100%')
              tr
                td.inner.contents(dir="ltr")
                  if category
                    h6.column-category(mc:edit=`${namespace}-column1-sectionheader`, mc:hideable) Category

                  h3(mc:edit=`${namespace}-column1-title`, mc:hideable)
                    a(href='#', target='_blank') #{column.title}

                  div(mc:edit=`${namespace}-column1-desc`, mc:hideable)
                    a.textlink(href='#', target='_blank') #{column.desc}

          <!--[if (gte mso 9)|(IE)]></td><![endif]-->
          <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
