mixin breakrow(hideable, reduce)
  -var cl = (reduce) ? 'break-reduce' : ''

  if hideable
    tr(mc:hideable, class=cl)
      block
  else
    tr(class=cl)
      block

mixin break(options)
  - var settings = Object.assign({line: false, hideable: false, reduce: false, bg: false}, options)
  +breakrow(settings.hideable, settings.reduce)
    td.break(style=`${(settings.bg) ? 'background-color:' + settings.bg : ''}`)
      if settings.line
        div(class=`break-${settings.line}`) &nbsp;
      else
        | &nbsp;

mixin breaksection(bg)
  tr
    td(style=`${(bg) ? 'background-color:' + bg : ''}`)
      .section-bottom &nbsp;
  +break({reduce: true, bg: bg})
  block
  +break({reduce: true, bg: bg})
  tr
    td(style=`${(bg) ? 'background-color:' + bg : ''}`)
      .section-top &nbsp;