mixin taglineurl(url)
  if (url)
    a(href=url, target="_blank")
      block
  else
    block

mixin tagline(type)

  - var img = "https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/0d1a55d5-40fe-4324-89a0-639e719f4726.png"
  - var width = 270
  - var alt = "Faith and Hope | The Campaign for Financial Aid"
  - var url = "https://www.fordham.edu/faithandhope"

  if (type == '175')
    - img = "https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/9644af7b-0155-4fb5-a113-e08181fc40ce.png"
    - alt = "Fordham: 175 Years of Service in New York"
    - url = "http://www.fordham.edu/175"
  else if (type == 'seal')
    - img = "https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/93157cc4-fdff-4dc5-b6ae-e37a093f3f04.png"
    - width = 330
    - url = "http://www.fordham.edu/175"
  else if (type == 'giveday')
    - img = "https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/8d894dac-63b3-4cae-8659-ff93a190ecb4.png"
    - width = 180
    - alt = "Fordham Giving Day: 1841-minute challenge, March 4-5, 2019"
    - url = "https://www.fordham.edu/givingday"

  td.contents.inner.tagline(mc:edit="tagline")
    +taglineurl(url)
      block
      if (!block)
        img(src=img, width=width, alt=alt, style=`width: ${width}px`)
