
mixin eventlist(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  - var settings = Object.assign({title: 'This is an event title', img: "https://placehold.it/285x160", url: "#"}, options)
  - settings.rsvp = settings.rsvp || settings.url

  .event(mc:repeatable=`${namespace}event`)
    <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><td width="#{width / 3}" valign="top"><![endif]-->
    .col.event-img
      table(width='100%')
        tr
          td.inner
            img(src=settings.img, width="190", alt="", mc:edit=`${namespace}event-image`)

    <!--[if (gte mso 9)|(IE)]></td><td width="#{width / 2}" valign="top"><![endif]-->
    .col.event-desc
      table(width='100%')
        tr
          td.inner.contents
            h5(mc:edit=`${namespace}event-title`)
              a(href=settings.url, target="_blank") #{settings.title}
            .textlink(mc:edit=`${namespace}event-desc`)
              block
              if (!block)
                | October 1 | Lincoln Center Campus

    <!--[if (gte mso 9)|(IE)]></td><td width="#{width / 6}" valign="top"><![endif]-->
    .col.event-rsvp
      table(width='100%')
        tr
          td.inner
            +btn(`${namespace}event-btn`, {size: "sm", secondary: true, block: true, url: settings.rsvp}) RSVP
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    .break &nbsp;
    .event-hr

mixin eventlist2(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  - var settings = Object.assign({title: 'This is an event title', img: "https://placehold.it/285x160", url: "#"}, options)
  - settings.rsvp = settings.rsvp || settings.url


  table.events(width='100%')
    tr(mc:repeatable=`${namespace}event2`)
      td.event-date
        .event-date-cont
          .event-month(mc:edit=`${namespace}event-month`) #{settings.month}
          .event-day(mc:edit=`${namespace}event-day`)  #{settings.day}
      td.event-info
        h4(mc:edit=`${namespace}event-title`)
          a(href=settings.url, target="_blank") #{settings.title}
        .textlink(mc:edit=`${namespace}event-desc`)
          block
          if (!block)
            | Bronx, NY

mixin eventmore(namespace, inner)
  - namespace = (namespace) ? namespace + '-' : '';
  - inner = typeof inner != "undefined" ? inner : true
  table(width="100%", mc:hideable)
    tr
      td.event-more(class=`${(inner) ? "inner contents" : "em-cont"}`, mc:edit=`${namespace}event-more`)
        block
        if (!block)
          a(href="https://news.fordham.edu/events", target="_blank") See a complete list of events, including those in your area.
