
mixin eventlist(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  - var settings = Object.assign({title: 'This is an event title', img: "https://placehold.it/285x160", url: "#"}, options)
  - settings.rsvp = settings.rsvp || settings.url

  .event(mc:repeatable=`${namespace}article`)
    <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><td width="#{width / 3}" valign="top"><![endif]-->
    .col.event-img
      table(width='100%')
        tr
          td.inner
            img(src=settings.img, width="190", alt="", mc:edit=`${namespace}event-image`)

    <!--[if (gte mso 9)|(IE)]></td><td width="#{width / 2}" valign="top"><![endif]-->
    .col.event-desc
      table(width='100%')
        tr
          td.inner.contents
            h5(mc:edit=`${namespace}event-title`)
              a(href=settings.url, target="_blank") #{settings.title}
            .textlink(mc:edit=`${namespace}event-desc`)
              block
              if (!block)
                a(href=settings.url, target="_blank") October 1 | Lincoln Center Campus

    <!--[if (gte mso 9)|(IE)]></td><td width="#{width / 6}" valign="top"><![endif]-->
    .col.event-rsvp
      table(width='100%')
        tr
          td.inner
            +btn(`${namespace}event-btn`, {size: "sm", secondary: true, block: true, url: settings.rsvp}) RSVP
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    .break &nbsp;
    .event-hr

mixin eventmore(namespace)
  - namespace = (namespace) ? namespace + '-' : '';
  table(width="100%", mc:hideable)
    tr
      td.inner.contents
        .event-more(mc:edit=`${namespace}event-more`)
          block
          if (!block)
            a(href="http://www.alumni.fordham.edu/calendar/list.aspx", target="_blank") +20 more events this month. View the calendar.
        .break &nbsp;
