mixin mastheadtable(variant)
  if mastheads.length > 1
    table.outer.header(mc:repeatable="header-branding", mc:variant=variant)
      block
  else
    table.outer.header
      block

each masthead in mastheads
  - var variant = masthead.alt || mastheadtop.alt
  +mastheadtable(variant)
    tr
      td.one-column.masthead.masthead-single
        table(width='100%')
          tr
            td.inner.contents
                a(href=masthead.url, target='_blank')
                  img.masthead--brand(src=mastheadtop.image, width=mastheadtop.size, alt=mastheadtop.alt)
                  if masthead.name
                    | <br />
                    img.masthead--brand(src='896532b8-f904-4d40-ab0e-66d396a04d7a.png', width='165', alt='')
                    | <br />
                    img(class=`masthead--${masthead.name}`, src=masthead.image, width=masthead.size, alt=masthead.alt)
                    if masthead.secondary == true
                      img(class=`masthead--${masthead.name}2`, src=masthead.image2, width=masthead.size2, alt=masthead.alt2)
