include ../columns/columns

mixin mastheadimage(options)
  - var top = Object.assign({}, mastheadtop, options.top)
  a(href=options.url, target="_blank")
    img(src=top.src, width=top.size, alt=`| ${top.alt}`, style=`max-width:  ${top.size}px`)
    if options.images
      br
      img(src='https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/2cd5e077-3742-40ed-b5d4-62dd39b9b34b.png', width=top.size, alt='', style=`max-width:  ${top.size}px; margin-top: 3px`)
      br
      each image in options.images
        img(src=image.src, width=image.size, alt=`${image.alt} |`, style=`max-width:  ${image.size}px`)

mixin masthead(options)
  if (options.dual)
    td.cont.cont-64.masthead-dual
      <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><td width="#{Math.floor(width * .4)}" valign="bottom"><![endif]-->
      .col
        table(width='100%')
          tr
            td.inner.contents(mc:edit="masthead-image")
              +mastheadimage(options)

      <!--[if (gte mso 9)|(IE)]></td><td width="#{Math.floor(width * .6)}" valign="bottom"><![endif]-->
      .col-2
        table(width='100%')
          tr
            td.inner.contents(mc:edit="masthead-content") #{options.dual}

      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  else
    td.inner.contents.masthead(mc:edit="masthead-image")
      +mastheadimage(options)




